

@mixin transform($transform) {
	-webkit-transform:	$transform;
	-moz-transform:		$transform;
	-ms-transform:		$transform;
	-o-transform: 		$transform;
	transform:			$transform;
}
 
@mixin transition($property, $duration, $function: linear) {	
	-webkit-transition: $property $duration $function;
	-moz-transition: 	$property $duration $function;
	-ms-transition: 	$property $duration $function;
	-o-transition: 		$property $duration $function;
	transition: 		$property $duration $function;
}


*{
	padding: 0;
	margin: 0;
	@include transition(all,.33s);
}
html{
	height: 100%;
	width: 100%;
}
body{
	height: 100%;
	width: 100%;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
}
h1{
	font-family: helvetica,arial,sans-serif;
	color: #FFFFFF;
	font-size: 48px;
}
h2{
	@extend h1;
	font-size:32px;
}
.pane-contain-wide{
	height: 100%;
	max-width: 100%;
	width: 100%;
	overflow: hidden;
	position: relative;
	&.thirds{
		height: 33.3333333%!important;
	}
	.pane{
		height: 100%;
		width: 100%;
		display: inline-block;
		position: absolute;
	}
	clear: both;
}

.pane-contain-tall{
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: relative;
	&.thirds{
		height: 33.3333333%;
	}
	.pane{
		position: absolute;
		height: 100%!important;
		width: 100%;
		display: inline-block;
		float: left;
	}
	clear: both;
}
.pane{
	height: 100%;
	width: 100%;
	display: block;
	.inner-contain{
		display: table;
		width: 100%;
		height: 100%;
		z-index: 2;

		.copy{
			display: table-cell;
			vertical-align: middle;
			text-align: center;
		}
	}
	&.thirds{
		height: 33.3333333%!important;
	}
	&:hover{
		.photo-bg{
			opacity: 1;
		}
	}
}
.thirds{
	.pane{
		height: 100%!important;
	}
}
#pane1{
	background-color: #7AC7AB;
	&.photo-bg{
		background-image: url(img/image1.jpg)!important;
	}
	.button{
		color: #7AC7AB;
	}
	
	
}
#pane2{
	background-color: #7FCAE7;
	.button{
		color: #7FCAE7;
	}
	&.photo-bg{
		background-image: url(img/image2.jpg)!important;
	}
}
#pane3{
	background-color: #1478BB;
	z-index: 0;
	.button{
		color: #1478BB;
	}
	&.photo-bg{
		background-image: url(img/image3.jpg)!important;
	}
}
#pane3-b{
	background-color: #E0CF52;
	z-index: 1;
	left: 100%;
	.button{
		color: #E0CF52;
	}
	&.photo-bg{
		background-image: url(img/image4.jpg)!important;
	}
}
#pane3-c{
	background-color: #0D2861;
	z-index: 1;
	right: 100%;
	.button{
		color: #0D2861;
	}
	&.photo-bg{
		background-image: url(img/image5.jpg)!important;
	}
}

#pane4{
	background-color: #775EA3;
	#button4{
		color: #775EA3;
	}
	&.photo-bg{
		background-image: url(img/image6.jpg)!important;
	}
}
#pane5{
	background-color: #DA6060;
	z-index: 1;
	.button{
		color:#DA6060;
	}
	&.photo-bg{
		background-image: url(img/image7.jpeg)!important;
	}
}
#pane5-b{
	background-color: #AA6060;
	z-index: 0;
	.button{
		color:#AA6060;
	}
	&.photo-bg{
		background-image: url(img/image8.jpeg)!important;
	}
}
#pane6{
	background-color: #2D8D63;
	z-index: 1;
	#button6{
		color:#2D8D63;
	}
	&.photo-bg{ 
		background-image: url(img/image9.jpg)!important;
	}
}
#pane7contain{
	height: 100%;
	max-width: 100%;
	width: 100%;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
	position: relative;
	.pane{
		height: 100%;
		width: 100%;
		display: inline-block;
		position: absolute;
	}
	clear: both;

	#pane7-a{
		background-color: #DFB55D;
		left: 0%;
		.button{
			color: #DFB55D;
		}
		&.photo-bg{
			background-image: url(img/image10.jpeg)!important;
		}
	}
	#pane7-b{
		background-color: #755A8A;
		left: 100%;
		.button{
			color: #755A8A;
		}
		&.photo-bg{
			background-image: url(img/image11.jpg)!important;
		}
	}
	#pane7-c{
		background-color: #23343A;
		left: 200%;
		.button{
			color: #23343A;
		}
		&.photo-bg{
			background-image: url(img/image12.jpeg)!important;
		}
	}
	#pane7-d{
		background-color: #5A808A;
		left: 300%;
		.button{
			color: #5A808A;
		}
		&.photo-bg{
			background-image: url(img/image13.jpg)!important;
		}
	}
}

.photo-bg{
	background-size: cover;
}


.button{
	text-decoration: none;
	cursor: pointer;
	font-size: 24px;
	font-family: helvetica,arial,sans-serif;
	font-weight: bold;
	display: block;
	border-radius: 5px;
	line-height: 105px;
	height: 105px;
	width: 80%;
	max-width: 400px;
	margin: 50px auto;
	background-color: #ffffff;
	border: 1px solid #eeeeee;
	&:active{
		margin-top: 52px;
	}
}



.slideLeft{
	@include transform(translate(-100%,0));
}
.slideRight{
	@include transform(translate(100%,0));
}
.slideDown{
	@include transform(translate(0,100%));
}