

@mixin transform($transform) {
	-webkit-transform:	$transform;
	-moz-transform:		$transform;
	-ms-transform:		$transform;
	-o-transform: 		$transform;
	transform:			$transform;
}
 
@mixin transition($property, $duration, $function: linear) {	
	-webkit-transition: $property $duration $function;
	-moz-transition: 	$property $duration $function;
	-ms-transition: 	$property $duration $function;
	-o-transition: 		$property $duration $function;
	transition: 		$property $duration $function;
}


*{
	padding: 0;
	margin: 0;
	@include transition(all,.33s);
}
html{
	height: 100%;
	width: 100%;
}
body{
	height: 100%;
	width: 100%;
}
h1{
	font-family: helvetica,arial,sans-serif;
	color: #FFFFFF;
	font-size: 48px;
}
.pane-contain{
	height: 100%;
	width: 200%;
	.pane{
		height: 100%;
		width: 50%;
		display: inline-block;
		float: left;
		-webkit-overflow-scrolling: touch;
	}
	clear: both;
}
.pane{
	height: 100%;
	width: 100%;
	display: block;
	.inner-contain{
		display: table;
		width: 100%;
		height: 100%;
		.copy{
			display: table-cell;
			vertical-align: middle;
			text-align: center;
		}
	}
}
#pane1{
	background-color: #7AC7AB;
	#button1{
		color: #7AC7AB;
	}
}
#pane2{
	background-color: #7FCAE7;
	#button2{
		color: #7FCAE7;
	}
}
#pane3{
	background-color: #1478BB;
	#button3{
		color: #1478BB;
	}
}
#pane3-b{
	background-color: #E0CF52;
	#button3-b{
		color: #E0CF52;
	}
	
}

#pane4{
	background-color: #775EA3;
	#button4{
		color: #775EA3;
	}
}
#pane5{
	background-color: #DA6060;
	#button5{
		color:#DA6060;
	}
}




.button{
	text-decoration: none;
	cursor: pointer;
	font-size: 24px;
	font-family: helvetica,arial,sans-serif;
	font-weight: bold;
	display: block;
	border-radius: 5px;
	line-height: 105px;
	height: 105px;
	width: 80%;
	max-width: 400px;
	margin: 50px auto;
	background-color: #ffffff;
	border: 1px solid #eeeeee;
	&:active{
		margin-top: 52px;
	}
}



.slide{
	@include transform(translate(-100%,0));
}

